destDir = "/"

encryption = "age"

[data]
    username = "user"

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipients = [
        "age1fyc50afgtkrq7xdqr0859ncyrvncxaclvfz83qyp3zq96mg47s5quqmvxt",
	"age14r9xns8kj0kagv4k7nm8hs85v5utkcw32vwqaczwzs8cz8zrgqeqmeakz0"
    ]

