{{- $nvidia      := promptBoolOnce . "nvidia"      "NVIDIA GPU (modules, modprobe)" -}}
{{- $tpm2_unlock := promptBoolOnce . "tpm2_unlock"  "TPM2 LUKS auto-unlock" -}}
{{- $laptop      := promptBoolOnce . "laptop"       "Laptop (battery tmpfiles)" -}}
{{- $block_nextcloud_user_c      := promptBoolOnce . "block_nextcloud_user_c"       "Block nextcloud for user_c" -}}
{{- $block_network_user_c      := promptBoolOnce . "block_networ_user_c"       "Block network for user_c" -}}

destDir = "/"

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipients = [
        "age1fyc50afgtkrq7xdqr0859ncyrvncxaclvfz83qyp3zq96mg47s5quqmvxt",
	"age14r9xns8kj0kagv4k7nm8hs85v5utkcw32vwqaczwzs8cz8zrgqeqmeakz0"
    ]

[data]
    nvidia      = {{ $nvidia }}
    tpm2_unlock = {{ $tpm2_unlock }}
    laptop      = {{ $laptop }}
    block_nextcloud_user_c      = {{ $block_nextcloud_user_c }}
    block_network_user_c      = {{ $block_network_user_c }}

