{{ $s := output "sops" "-d" (joinPath .chezmoi.sourceDir "secrets.enc.yaml") | fromYaml -}}
timestamp_format        long

snapshot_preserve_min 2d
snapshot_preserve    7d 4w 3m  
target_preserve_min 2d
target_preserve 7d 4w 3m

volume /  
  subvolume /
  snapshot_dir         /snapshots/root  
{{- if hasKey (index $s "btrbk") .chezmoi.hostname }}
  target               {{ index $s "btrbk" .chezmoi.hostname "root_target" }}
  incremental          yes
{{- end }}
volume /
  subvolume home
  snapshot_dir         /snapshots/home 
{{- if hasKey (index $s "btrbk") .chezmoi.hostname }}
  target               {{ index $s "btrbk" .chezmoi.hostname "home_target" }}
  incremental          yes
{{- end }}
