timestamp_format        long

snapshot_preserve_min 2d
snapshot_preserve    7d 4w 3m  
target_preserve_min 2d
target_preserve 7d 4w 3m

volume /  
  subvolume /
  snapshot_dir         /snapshots/root  
  {{- if eq .chezmoi.hostname "desktop-1" }}
  target               /mnt/ssd2/bkp/volumes/root  
  incremental          yes
  {{- end }}
volume /
  subvolume home
  snapshot_dir         /snapshots/home 
  {{- if eq .chezmoi.hostname "desktop-1" }}
  target               /mnt/ssd2/bkp/volumes/home
  incremental          yes
  {{- end }}
