# /etc/atomic.conf
BTRFS_MOUNT="/mnt/temp_root"
NEW_ROOT="/mnt/newroot"
ESP="/efi"
KEEP_GENERATIONS=3
MAPPER_NAME="root_crypt"
KERNEL_PARAMS="{{ if .tpm2_unlock }}rd.luks.options=tpm2-device=auto {{ end }}rw slab_nomerge init_on_alloc=1 page_alloc.shuffle=1 pti=on vsyscall=none randomize_kstack_offset=on debugfs=off"
