{{ $s := output "sops" "-d" (joinPath .chezmoi.sourceDir "secrets.enc.yaml") | fromYaml -}}
[storage]

driver = "btrfs"

runroot = "/run/containers/storage"

{{- if hasKey (index $s "containers") .chezmoi.hostname }}
graphroot = "{{ index $s "containers" .chezmoi.hostname "graphroot" }}"
{{- end }}

[storage.options]

additionalimagestores = [
]

[storage.options.pull_options]

[storage.options.overlay]

mountopt = "nodev"
